# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
tutoringWebsite/.idea/workspace.xml
tutoringWebsite/.classpath
tutoringWebsite/.project
*.lck
*.ctrl
*.dat
*.txt
tutoringWebsite/.classpath
tutoringWebsite/.classpath

*.properties

*.log

tutoringWebsite/C/test/library.db/service.properties
tutoringWebsite/derby.log

tutoringWebsite/C/test/library.db/service.properties
tutoringWebsite/C/test/library.db/service.properties
tutoringWebsite/C/test/library.db/service.properties
tutoringWebsite/C/test/library.db/service.properties
tutoringWebsite/C/test/library.db/service.properties
tutoringWebsite/C/test/library.db/service.properties
tutoringWebsite/C/test/library.db/service.properties
