body{
    background-color: lightgray;
    padding: 0;
    margin: 0;
}
.pageDesc {
    background-color: white;
    color: black;
    margin: 1%;
    text-align: center;
}

.navBar {
    display: inline-block;
    width: 100%;
    background-color: green;
    text-align: center;
}

.announcements {
    color: black;
    background-color: white;
    margin: 1%;
    font-family: "Times New Roman", Times, serif;
    padding-left: 1%;
    padding-right: 1%;
}
.error {
    color: red;
}
		
td.label {
    text-align: right;
}

#annTitle {
    text-align: center;
    padding-bottom: 1%;
    
}

#navBarItem {
    background: none;
    border: none;
    color: white;
    width: 12%;
}

#annMessage {
    Padding-top: 1%;
    padding-bottom: 1%;
}

#title {
    color: white;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: none;
    border: none;
}

#titleDiv {
    width: 100%;
    background-color: green;
    text-align: center;
    border-bottom-color: black;
    margin-bottom: 1%;
    
}