body{
    background-color: lightgray;
    padding: 0;
    margin: 0;
}
p.profile{
	
 	border-color: green;
	border=style: solid;
	width: 12%;
}
h1{
  	  text-align: center;
}
.pageDesc {
   background-color: white;
    color: black;
    margin: 1%;
    text-align: center;
}
.scheduleListings {
    background-color: white;
}

.navBar {
    display: inline-block;
    width: 100%;
    background-color: green;
    text-align: center;
}

.AnnouncementWindow {
    color: black;
    background-color: white;
    margin: 1%;
    font-family: "Times New Roman", Times, serif;
    padding-left: 1%;
    padding-right: 1%;
}
.profileDis {
    color: black;
    background-color: white;
    margin: 1%;
    text-align: left;
	padding-left: 3%;
}

#annTitle {
    text-align: center;
    padding-bottom: 1%;
    
}
#announcementTitle {
    text-align: center;
    padding-bottom: 1%;
    color: green;
    font-size: 135%;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: none;
    text-decoration: underline;
}
#message{float: left;}

#navBarItem {
    background: none;
    border: none;
    color: white;
    width: 12%;
}

#annMessage {
    Padding-top: 1%;
    padding-bottom: 1%;
}

#title {
    color: white;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: none;
    border: none;
}


#titleDiv {
    width: 100%;
    background-color: green;
    text-align: center;
    border-bottom-color: black;
    margin-bottom: 1%;
    
}
#pa1{
   color: black;
   font-size: 100%;
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
}
#pa2{
   color: black;
   font-size: 100%;
   font-family: "Times New Roman", Times, serif;
}

