<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>tutoringWebsite.servlets.IndexServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>tutoringWebsite.servlets.AnnouncementServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CreateAnnouncementServlet</servlet-name>
    <servlet-class>tutoringWebsite.servlets.CreateAnnouncementServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DeleteAnnouncementServlet</servlet-name>
    <servlet-class>tutoringWebsite.servlets.DeleteAnnouncementServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CoursesServlet</servlet-name>
    <servlet-class>tutoringWebsite.servlets.CoursesServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>tutoringWebsite.servlets.ScheduleServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
 	<servlet-class>tutoringWebsite.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>CreateAccountServlet</servlet-name>
 	 <servlet-class>tutoringWebsite.servlets.CreateAccountServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>StudyGroupServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.StudyGroupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TutorServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.TutorServlet</servlet-class>
  </servlet>

 <servlet>
  	<servlet-name>CreateSessionServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.CreateSessionServlet</servlet-class>
  </servlet>

 <servlet>
  	<servlet-name>DeleteSessionServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.DeleteSessionServlet</servlet-class>
 </servlet>

  <servlet>
  	<servlet-name>CoursePageServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.CoursePageServlet</servlet-class>
  </servlet>
	
  <servlet>
  	<servlet-name>CreateStudyGroupServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.CreateStudyGroupServlet</servlet-class>
  </servlet>
 <servlet>
  	<servlet-name>DeleteStudyGroupServlet</servlet-name>
  	<servlet-class>tutoringWebsite.servlets.DeleteStudyGroupServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/announcement</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CreateAnnouncementServlet</servlet-name>
    <url-pattern>/createAnnouncement</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DeleteAnnouncementServlet</servlet-name>
    <url-pattern>/deleteAnnouncement</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CreateSessionServlet</servlet-name>
    <url-pattern>/createSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudyGroupServlet</servlet-name>
  	<url-pattern>/deleteStudyGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateStudyGroupServlet</servlet-name>
  	<url-pattern>/createStudyGroup</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>DeleteSessionServlet</servlet-name>
    <url-pattern>/deleteSession</url-pattern>
</servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CoursesServlet</servlet-name>
    <url-pattern>/courses</url-pattern>
   </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>CoursePageServlet</servlet-name>
  	<url-pattern>/coursePage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>CreateAccountServlet</servlet-name>
  	<url-pattern>/createAccount</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>StudyGroupServlet</servlet-name>
  	<url-pattern>/groups</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/schedule</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>TutorServlet</servlet-name>
    <url-pattern>/tutors</url-pattern>
  </servlet-mapping>
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
